
body {
    background: var(#B6DBF6);
    text-align: center;
}

#logout {
    position: relative;
}

a {
    position: absolute;
    top: 0px;
    right: 0px;
    color: black;
}

.title h1 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 50px;
    background-color: #FAFAFA;
}

.section h3 {
    text-align: center;
}


section {
    background-color: #FAFAFA;
}


.box {
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #EDEEEE;
    border-radius: 5px;
}

.container {
    background-color: #FAFAFA;
    padding: 20px 0;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    margin: auto;
}

img {
    width: 100%;
}

.img-upload p {
    color: #999;
}

.img-upload .icon {
    font-size: 50px;
}

section .box .name {
    font-size: 1.5em;
}

div.name {
    padding: 5px;
    float: left;
}

div.timestamp {
    float: right;
}

.like {
    float: left;
}


.comment input[type=text] {
    width: 100%;
    border:5px;
}

.comment input[type=button] {
    width: 20%;
    float: right;

}

.img-upload input[type=submit] {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 30px;
    color: #fff;
}

#show {
   display: none;
}

#logout a {
    color: linear-gradient(135deg, #71b7e6, #9b59b6);
}
